// out: index.css
@import (reference) url('http://chharvey.github.io/core/styles/all.less');

/*##############*\
    index.less
\*##############*/

main {
  width: 90%;
  margin: 0 5%;
}

.MethodHeading {
  // .H--Eps;
  code {
    // font-size: inherit;
    font-style: normal;
  }
}
